<table class="table table-bordered">
	<thead>
	  <tr>
	    <th>Day</th>
	    <th>Breakfast</th>
	    <th>Snack</th>
	    <th>Lunch</th>
	    <th>Snack</th>
	    <th>Dinner</th>
	    <th>Snack</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td>1</td>
	    <td><a rlink="Blueberry Blast"></a></td>
	    <td><a rlink="Pineapple Green Shake"></a></td>
	    <td><a rlink="Spicy Bok Choy Soup"></a></td>
	    <td>Shake or Soup</td>
	    <td><a rlink="Tomato Bisque"></a></td>
	    <td>Leftover soup (optional)</td>
	  </tr>
	  <tr>
	    <td>2</td>
	    <td><a rlink="Simple Strawberry Shake"></a></td>
	    <td><a rlink="Apple Green Mar-tea-ni"></a></td>
	    <td><a rlink="Ginger Soup"></a></td>
	    <td>Shake or Soup</td>
	    <td><a rlink="Marvelous Minestrone"></a></td>
	    <td>Leftover soup (optional)</td>
	  </tr>
	  <tr>
	    <td>3</td>
	    <td><a rlink="Piña Colada"></a></td>
	    <td><a rlink="Pear Power Shake"></a></td>
	    <td><a rlink="Spicy Avocado Soup"></a></td>
	    <td>Shake or Soup</td>
	    <td><a rlink="Curry Coconut Soup"></a></td>
	    <td>Leftover soup (optional)</td>
	  </tr>
	  <tr>
	    <td>4</td>
	    <td><a rlink="Ginger Mango Shake"></a></td>
	    <td><a rlink="Ginger Mango Shake"></a> or <a rlink="Grapefruit Salad"></a></td>
	    <td><a rlink="Easy Being Green Salad"></a></td>
	    <td><a rlink="Strawberry Mint Shake"></a></td>
	    <td><a rlink="Red Pepper Soup"></a></td>
	    <td>Soup, ½ avocado, or a small handful of nuts (optional)</td>
	  </tr>
	  <tr>
	    <td>5</td>
	    <td><a rlink="Banana Shake"></a></td>
	    <td><a rlink="Banana Shake"></a> or <a rlink="Pomegranate Blueberry Salad"></a></td>
	    <td><a rlink="Spring Sauerkraut Salad with Thermo Dressing"></a></td>
	    <td><a rlink="Pineapple Protein Shake"></a></td>
	    <td><a rlink="Kreamy Dill Delight"></a></td>
	    <td>Soup, ½ avocado, or a small handful of nuts (optional)</td>
	  </tr>
	  <tr>
	    <td>6</td>
	    <td><a rlink="Chocolate Banana Mylk Shake"></a></td>
	    <td><a rlink="Chocolate Banana Mylk Shake"></a> or <a rlink="Pineapple Coconut Salad"></a></td>
	    <td><a rlink="Asian Cabbage Salad with Apple Cider Vinaigrette"></a></td>
	    <td><a rlink="Mango Mint Shake"></a></td>
	    <td><a rlink="Coconut Tomato Soup"></a></td>
	    <td>Soup, ½ avocado, or a small handful of nuts (optional)</td>
	  </tr>
	  <tr>
	    <td>7</td>
	    <td><a rlink="Matcha Shake"></a></td>
	    <td><a rlink="Matcha Shake"></a> or <a rlink="Pecan Candy Apple"></a></td>
	    <td><a rlink="Corn and Basil Mesclun Salad"</a></td>
	    <td><a rlink="Smooth Operator"></a></td>
	    <td><a rlink="Souper Supper"></a></td>
	    <td>Soup, ½ avocado, or a small handful of nuts (optional)</td>
	  </tr>
	  <tr>
	    <td>8</td>
	    <td><a rlink="Vanilla Blueberry Shake"></a></td>
	    <td><a rlink="Vanilla Blueberry Shake"></a> or <a rlink="Red, White, and Blue Berry Salad"></a></td>
	    <td><a rlink="Kreamy Chipotle Salad"></a> with <a rlink="Kreamy Chipotle Dressing"></a></td>
	    <td><a rlink="Kreamy Cucumber Soup"></a> or <a rlink="Vanilla Blueberry Shake"></a></td>
	    <td><a rlink="Zucchini Noodles with Marinara Sauce"></a></td>
	    <td>Soup, ½ avocado, or small handful of nuts (optional)</td>
	  </tr>
	  <tr>
	    <td>9</td>
	    <td><a rlink="Pineapple Cilantro Shake"></a></td>
	    <td><a rlink="Pineapple Cilantro Shake"></a> or <a rlink="Cucumber Guacamole"></a></td>
	    <td><a rlink="Cabbage Salad with Cucumber Miso Dressing"></a></td>
	    <td><a rlink="Garlic Bell Soup"></a> or <a rlink="Pineapple Cilantro Shake"></a></td>
	    <td><a rlink="Celery Almond Paté"></a></td>
	    <td>Soup, ½ avocado, or small handful of nuts (optional)</td>
	  </tr>
	  <tr>
	    <td>10</td>
	    <td><a rlink="Pear Lime Ginger Shake"></a></td>
	    <td><a rlink="Pear Lime Ginger Shake"></a> or <a rlink="Watermelon Grapefruit Salad"></a></td>
	    <td><a rlink="Zucchini Hummus"></a></td>
	    <td><a rlink="Curried Cilantro Cucumber Soup"></a> or <a rlink="Pear Lime Ginger Shake"></a></td>
	    <td><a rlink="Mixed Vegetable Seaweed Rolls with Sesame Dipping Sauce"></a></td>
	    <td>Soup, ½ avocado, or small handful of nuts (optional)</td>
	  </tr>
	  <tr>
	    <td>11</td>
	    <td><a rlink="Green Grapefruit Shake"></a></td>
	    <td><a rlink="Green Grapefruit Shake"></a> or <a rlink="Mint and Basil Tropical Fruit Salad"></a></td>
	    <td><a rlink="Shredded Sesame Salad with Orange Ginger Vinaigrette"></a></td>
	    <td><a rlink="Coconut Miso Soup"></a> or <a rlink="Green Grapefruit Shake"></a></td>
	    <td><a rlink="Collard Rolls with Cashew Paté"></a></td>
	    <td>Soup, ½ avocado, or small handful of nuts (optional)</td>
	  </tr>
	  <tr>
	    <td>12</td>
	    <td><a rlink="Orange Vanilla Shake"></a></td>
	    <td><a rlink="Orange Vanilla Shake"></a> or <a rlink="Peach Crumble"></a></td>
	    <td><a rlink="Italian Salad"></a></td>
	    <td><a rlink="Curried Zucchini Cucumber Soup"></a> or <a rlink="Orange Vanilla Shake"></a></td>
	    <td><a rlink="Marinated Mushrooms in Lettuce Wraps"></a></td>
	    <td>Soup, ½ avocado, or small handful of nuts (optional)</td>
	  </tr>
	  <tr>
	    <td>13</td>
	    <td><a rlink="Avocado Shake"></a></td>
	    <td><a rlink="Avocado Shake"></a> or <a rlink="Fudge Brownies with Fresh Berries"></a></td>
	    <td><a rlink="Fennel Slaw with Dill Vinaigrette"></a></td>
	    <td><a rlink="Carrot Ginger Soup"></a> or <a rlink="Avocado Shake"></a></td>
	    <td><a rlink="Pesto Wraps"></a></td>
	    <td>Soup, ½ avocado, or small handful of nuts (optional)</td>
	  </tr>
	  <tr>
	    <td>14</td>
	    <td><a rlink="Beauty Berry Shake"></a></td>
	    <td><a rlink="Beauty Berry Shake"></a> or <a rlink="Trail Mix Cookies"></a></td>
	    <td><a rlink="Cumin Slaw with Coconut Miso Vinaigrette"></a></td>
	    <td><a rlink="Kreamy Tomato Gazpacho"></a> or <a rlink="Beauty Berry Shake"></a></td>
	    <td><a rlink="Mushroom Rolls with Root Rice"></a></td>
	    <td>Soup, ½ avocado, or small handful of nuts (optional)</td>
	  </tr>
	  <tr>
	    <td>15</td>
	    <td>Choose any shake</td>
	    <td>Choose any shake or snack</td>
	    <td>Choose any salad</td>
	    <td>Choose any soup or shake</td>
	    <td>Choose any soup or dinner meal</td>
	    <td>Choose any favorite snack</td>
	  </tr>
	</tbody>
</table>